@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>CEO: </b>Hoang Huynh Tuan Kiet</p>
<p><b>Student ID: </b>520H0549</p>
<p><b>Phone: </b>0942189461</p>
</br>
<p><b>Employee: </b>Le Minh Nhat</p>
<p><b>Student ID: </b>520H0560</p>
<p><b>Phone: </b>0947986431</p>

<p>Our software provides an extra function to buy Supplement Facts</p>
