@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ton Duc Thang University<br />
    19 Nguyen Huu Tho, Tan Phong, District 7, Ho Chi Minh City<br />
    <abbr title="Phone">P:</abbr>
    0942.189.461
</address>

<address>
    <strong>Support:</strong> <a href="mailto:hoanghuynhtuankiet69@example.com">hoanghuynhtuankiet69@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nhatlenlh1412@example.com">nhatlenlh1412@example.com</a>
</address>