@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Supplement Facts Company</h1>
    <p class="lead">Supplement Facts Company is a excellent company providing many supplements for improve your health and the place many agents would like to buy products.</p>
    <p><a href="/Products/Index" class="btn btn-primary btn-lg">Buy now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View status your order</h2>
        <p>Click here if you want to see your status order.</p>
        <p><a class="btn btn-warning" href="#">View status &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go to cart</h2>
        <p>Click here if you want to go to cart</p>
        <p><a class="btn btn-success" href="/OrderCart/Index">Go here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buy product</h2>
        <p>Click here if you want to buy product</p>
        <p><a class="btn btn-primary" href="/Products/Index">Buy product &raquo;</a></p>
    </div>
</div>